extends layout

block content
  canvas#game(width=640, height=480)
  script(src='/socket.io/socket.io.js')
  script(src='/js/lib/box2d.js')
  script(src='/js/Dude.js')
  script(src='/js/input.js')
  script(src='/js/SceneManager.js')
  script(src='/js/net/common.js')
  script(src='/js/net/connection.js')
  script(src='/js/game.js')
  script(src='/js/user.js')
  script(src='/js/main.js')

