doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/css/style.css')
  body
    block content

    div(id='lobby')
      div(class='win')
        div(class='statusbar')
          div(id='lobby_player')
          div(id='lobby_status')
          a(id='lobby_about', href='#')= 'About'

        div(id='lobby_arenas')
          table(id='lobby_arenas_tab')
        div(class='menu')
          a(href='#', id='lobby_arena_new')= 'New arena'
        //- div(id='lobby_chat')
        //-   ul(id='lobby_chat_messages')
        //-   form(id='lobby_chat_form')
        //-     input(type='text')
        //-     button(value='Send', class='button')

