body
  margin 0
  padding 0
  font 14px 'Segoe UI', Helvetica, Arial, sans-serif

a
  color #00B7FF

#game, #debug
  display block
  margin  auto

#debug
  position absolute
  // opacity 0.5
  top 0

#lobby
  display none
  width   80%
  height  90%

  position absolute
  top      5%
  left     10%

  background    rgba(0,0,0,95%)
  border-radius 10px
  opacity       0
  -webkit-transition  opacity 0.5s ease-out

#lobby.show
  opacity       1
